<div class="container-fluid">
	<div class="row">
		<div class="col-md-10 jumbotron employee-blocks">
			<h3 class="mb-4">Pending Your Confirmation</h3>
			<%= render partial: 'pending_audit_confirmation', locals: { pending_audit_confirmations: @pending_audit_confirmations } %>
		</div>
	</div>
</div>