@import "bootstrap";
@import "gritter";
@import "bourbon";
@import "font-awesome";
@import "admin_homepage";

.logo {
	margin-top: 20px;
}

.custom-nav {
	margin-top: 15px;
}

.icon {
	color: black;
}
